html {
    width: 100%;
    color: #f2f2f2;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left-logo {
    width: 100px;
    margin-right: 30px;
}

.header-left-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-left-social > a {
    width: 30px;
    margin: 0 5px;
}

.header-left-social > a > img {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-burger {
    width: 45px;
    background: none;
    border: 0;
}

.header-right-burger > img {
    width: 100%;
}